{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="container">
    {% for item in cart_items %}
    {% if item.quantity > 0 %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="image">
                            <img class="" src="{{ item.product.photo_main.url }}" alt="Egg">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ item.product.name }}</h4>
                            <p class="card-text">{{ item.product.description }}</p>
                            <p><i class="fas fa-euro-sign"></i>{{ item.product.price }}</p>
                            <p>
                                <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">Qty</div>
                                            <input name="quantity" type="number" min="0" max="999" class="form-control">
                                            <div class="input-group-addon">{{item.quantity}}</div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary amend-btn"><span
                                            class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                                </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="row checkout">
    <div class="mx-auto">
        <h5> Cart Total (including VAT): <span aria-hidden="true"><i class="fas fa-euro-sign"></i></span>{{ total }}
        </h5>
    </div>
    <a href="{% url 'checkout' %}" class="btn btn-success col-12 checkout-btn" role="button"><span
            class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
    <div class="mx-auto">
        <h6>Free shipping on all orders.</h6>
    </div>

</div>
</div>
{% endblock %}