{% extends 'base.html' %}

{% block content %}

<section id="farms">
    <div class="container">
        <div class="email text-center">
            <p>Our email address: info@eggsellnt.com</p>
            <p>Our email address: info@eggsellnt.com</p>

        </div>
        <div class="row">
            {% for farm in farms %}
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{ farm.photo.url }}" alt="Farms">
                    <div class="card-body">
                        <h3 class="card-title">{{ farm.name }}</h3>
                        <h6 class="card-text">{{ farm.description }}<h6>
                        <div class="text-center">
                            <a href="{% url 'products_by_farm' farm.id %}" class="btn btn-secondary stretched-link">Eggs from {{ farm.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}