{% extends 'base.html' %}

{% block content %}

<br>
<div class="container">
    <div class="row">
        <div class="card col-sm" style="width: 18rem;">
            <a href="{% url 'products' %}">
                <img class="card-img-top" src="../../media/photos/shop/canva_eggs_close_up.jpg" alt="Card image cap">
            </a>
            <div class="card-body">
                <a href="{% url 'products' %}">
                    <h5 class="card-title">View all products</h5>
                </a>
            </div>
        </div>
        <div class="card col-sm" style="width: 18rem;">
            <a href="{% url 'farms' %}">
                <img class="card-img-top" src="../../media/photos/shop/canva_chicks_and_roosters.jpg"
                    alt="Card image cap">
            </a>
            <div class="card-body">
                <a href="{% url 'farms' %}">
                    <h5 class="card-title">View products by Farm</h5>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}