{% extends 'base.html' %}

{% load humanize %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div id="message" class="container">
    <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        <strong>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            Error:
            {% else %}
            {{ message.tags | title}}
            {% endif %}
        </strong>
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}

<section id="products">
    <h1>Products</h1>
    <div class="container">
        <div class="row">
            {% if products %}
            {% for product in products %}
            <div class="col-4">
                <div class="card">
                    <a href="{% url 'product' product.id %}">
                        <img class="card-img-top" src="{{ product.photo_main.url }}" alt="Egg">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <div class="row">
                            <div class="col-6">
                                <p>€{{ product.price | intcomma }}</p>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'product' product.id %}">More Info</a>
                            </div>
                        </div>
                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <input name="quantity" type="number" min="1" max="999" class="form-control"
                                    placeholder="Quantity">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <h1>No products available</h1>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}