{% extends 'base.html' %}

{% load humanize %}

{% block content %}


<section id="products">
    <h1>Products</h1>
    <div class="container">
        <div class="row">
            {% if products %}
            {% for product in products %}
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ product.photo_main.url }}" alt="Egg">
                    <div class="card-body">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <p>€{{ product.price | intcomma }}</p>
                        <a href="{% url 'product' product.id %}">More Info</a>
                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <input name="quantity" type="number" min="1" max="999" class="form-control"
                                    placeholder="Quantity">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <h1>No products available</h1>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}