{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<h1>Product</h1>

<p>{{ product.name }}</p>
<p>{{ product.description }}</p>
<img src="{{ product.photo_main.url }}" alt="Egg" style="width: 100px;">

<p>€{{ product.price | intcomma }}</p>

<form method="post" action="{% url 'add_to_cart' product.id %}">
    {% csrf_token %}
    <div class="input-group">
        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
        <span class="input-group-btn">
            <button class="btn btn-success" type="submit">Add</button>
        </span>
    </div>
</form>

{% endblock %}


