{% extends 'base.html' %}
{% block content %}

<section id="login">
    <div class="container">

        <!-- Messages -->
        {% include 'partials/_messages.html' %}

        <h4>Login</h4>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" type="text" name="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <input type="submit" value="Login" class="btn btn-success login-btn">
            <div class="my-2">
                <a href="{% url 'register' %}">Create an account</a>
            </div>
        </form>
    </div>
</section>

{% endblock %}