{% extends 'base.html' %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div id="message">
    <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        <strong>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            Error:
            {% else %}
            {{ message.tags | title}}
            {% endif %}
        </strong>
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}

<section id="profile">
    <div class="container">
        <div class="text-center">
            <h5>Welcome, {{ user.first_name }}!</h5>
            <p>Your Order History</p>
        </div>
        {% for order in orders reversed %}
        <p>Date: {{ order.order.date }}</p>
        <div>
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}