{% extends 'base.html' %}
{% load humanize %}
{% block title %} | Shop {% endblock %}
{% block content %}

<section id="product">
    <div class="container">
        <div class="row">
            <!-- Users are taken to the previous page they visited, the Go Back button is from: https://www.computerhope.com/issues/ch000317.htm -->
            <div>
                <input class="btn btn-secondary goback" type="button" value="Go Back!" onclick="history.back()">
            </div>
            <div class="d-none d-sm-block">
                <div class="media">
                    <img src="{{ product.photo_main.url }}" class="align-self-start mr-3 media-image" alt="Egg">
                    <div class="media-body">
                        <h5 class="mt-0">{{ product.name }}</h5>
                        {{ product.description }}

                        <p>€{{ product.price | intcomma }}</p>
                        <a href="{% url 'products_by_farm' product.farm.id %}">From: {{ product.farm }}</a>
                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="input-group product-btn">
                                <input name="quantity" type="number" min="1" max="999" class="form-control"
                                    placeholder="Quantity">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="d-block d-sm-none">
                <div class="card">
                    <img class="card-img-top" src="{{ product.photo_main.url }}" alt="Egg">
                    <div class="card-body">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <p class="card-text">{{ product.description }}</p>
                        <p>€{{ product.price | intcomma }}</p>
                        <a href="{% url 'products_by_farm' product.farm.id %}">From: {{ product.farm }}</a>
                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <input name="quantity" type="number" min="1" max="999" class="form-control"
                                    placeholder="Quantity">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}