{% extends 'base.html' %}
{% load humanize %}
{% block title %} | Shop {% endblock %}
{% block content %}

<section id="product">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card">
                    <img class="card-img-top" src="{{ product.photo_main.url }}" alt="Egg">
                    <div class="card-body">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <p class="card-text">{{ product.description }}</p>
                        <p>€{{ product.price | intcomma }}</p>
                        <a href="{% url 'products_by_farm' product.farm.id %}">From: {{ product.farm }}</a>
                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <input name="quantity" type="number" min="1" max="999" class="form-control"
                                    placeholder="Quantity">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}