{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<section id="products">
    <div class="container">
        <!-- Messages -->
        {% include 'partials/_messages.html' %}
        
        {% if searchterm %}
        <h4>Search result for <strong>{{ searchterm }}</strong>:</h4>
        {% endif %}
        <div class="row">
            {% if products %}
            {% for product in products %}
            <div class="col-6 col-md-4 col-lg-3 d-flex align-items-stretch">
                <div class="card">
                    <a href="{% url 'product' product.id %}">
                        <img class="card-img-top" src="{{ product.photo_main.url }}" alt="Egg">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <h6><i class="fas fa-euro-sign"></i>{{ product.price | intcomma }}</h6>
                        <div class="info-btn">
                            <a href="{% url 'product' product.id %}" class="btn btn-secondary">More Info</a>
                        </div>
                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <input name="quantity" type="number" min="1" max="999" class="form-control"
                                    placeholder="Qty">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <h4 class="no-products">No products available</h4>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}