{% extends 'base.html' %}
{% block content %}


<section id="team">
    <div class="container">
        <div class="email text-center">
            <p>Our email address: info@eggsellnt.com</p>
            <p>Our email address: info@eggsellnt.com</p>
        </div>
        <div class="row">
            {% for person in company %}
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{ person.photo.url }}" alt="Team member">
                    <div class="card-body">
                        <h3 class="card-title">{{ person.name }}</h3>
                        <h5 class="card-title">{{ person.title }}</h5>
                        <p class="card-text">{{ person.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}