{% extends 'base.html' %}
{% block content %}

<h1>About</h1>
{% if user %}
<h1>hi</h1>
{{ user.first_name }}
{% else %}
<h1>No user</h1>
{% endif %}

{% if team %}
{{ team.name }}
{% else %}
<h1>No team</h1>
{% endif %}


<section id="team">
    <div class="container">
        {% for person in team %}
        <p>{{ person.name }}</p>
        <p>{{ person.title }}</p>
        <p>{{ person.description }}</p>
        <img src="{{ person.photo.url }}" alt="Team member" style="width: 100px;">
        {% endfor %}
    </div>
</section>


{% endblock %}