#home {
    background: url(../../media/photos/canva_brown_egg.jpg) center no-repeat;
    height: 100%;
    background-size: cover;
}

body, html {
    height: 100%;
}

body {
    padding-top: 55px;
}

.landing {
    border: none;
}

.footer {
    background-color: #EBEEF0;
}
/* 

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #EBEEF0;
  }
  */