#home {
    background: url(../../media/photos/canva_brown_egg.jpg) center no-repeat;
    height: 100%;
    background-size: cover;
}

#team,
#farms {
    background: url(../../media/photos/canva_eggs_in_a_row.jpg) center no-repeat;
    height: 100%;
    background-size: cover;
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
}

P {
    margin-bottom: 0;
    margin-top: 1rem;
}

.card-body,
.email {
    background-color: #F2F4F5;
}

.email {
    margin-top: 1rem;
}

body, html {
    height: 100%;
}

#products,
#product {
    padding-top: 10px;
    padding-bottom: 60px;
}
body {
    padding-top: 55px;
    padding-bottom: 50px;
}

.landing {
    border: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 30px;
  }
