{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
{% endblock head_js %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div id="message" class="container">
        <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
            <strong>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                Error:
                {% else %}
                {{ message.tags | title}}
                {% endif %}
            </strong>
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}

<div class="container">
    <div class="row row-flex">
        {% for item in cart_items %}
        {% if item.quantity > 0 %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <!-- <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div> -->
                <img class="card-img-top" src="{{ item.product.photo_main.url }}" alt="Egg">
                <div class="caption">
                    <h3>{{ item.product.name }}</h3>
                    <p class="product-description">{{ item.product.description }}</p>
                    <p>{{ item.quantity }}</p>
                    <p>{{ item.product.price }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <p>Total</p>
        <p><span aria-hidden="true"><i class="fas fa-euro-sign"></i></span>{{ total }}</p>
    </div>

    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
        <legend>Payment Details</legend>

        <div id="credit-card-errors" style="display: none;">
            <div id="alert-message block-message error" id="stripe-error-message"></div>
        </div>

        <div class="form-group col-md-6">
            {{ order_form | as_bootstrap }}
        </div>

        <div class="form-group col-md-6">
            {{ payment_form | as_bootstrap }}
        </div>

        {% csrf_token %}
        <div class="form-group col-md-12">
            <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>
</div>
{% endblock %}